<section class="workflow">
  <div class="welcome-sign">
    <h1>COFFEE</h1>
  </div>
  <div class="coffee-cup-container"></div>
  <div class="coffee-cup active" data-anchor-target=".fixed-scroller" data-114p="@class:coffee-cup" data-115p="@class:coffee-cup active">
    <div class="coffee-steam">
      <div class="steam"></div>
      <div class="steam large"></div>
      <div class="steam"></div>
    </div>
    <div class="active" id="water">
    </div>
  </div>
</section>
